$types: (
    steel: #CCCCCC,
    water: #B0E2FF,
    bug: #99CC33,
    dragon: #AB82FF,
    electric: #FFD700,
    ghost: #778899,
    fire: #FF7F00,
    fairy: #FFB0FF,
    ice: #ADD8E6,
    fighting: #FF6A6A,
    normal: #DDCCAA,
    grass: #99FF66,
    flying: #BAAAFF,
    poison: #CC88BB,
    ground: #DEB887,
    rock: #CD853F,
    psychic: #FFB5C5,
    dark: #A9A9A9,
);

@each $typename, $color in $types {
    .type-#{$typename} {
       background-color: $color;
    }
}

.contenedor {
  .carta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    padding: 25px;;
    height: 240px;
    width: 150px;
    img {
      padding: 0;
      background-color: rgb(247, 247, 247);
    }
  }
  .contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    .titulos {
      display: flex;
      justify-content: center;
      column-gap: 25px;
      padding-top: 10px;
      .colorType{
        border-radius: 20px;
        padding: 3px 15px;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
// startoverflow
@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
      -webkit-transform: translateY(0);
      -ms-transform:     translateY(0);
      transform:         translateY(0)
  }
  40% {
      -webkit-transform: translateY(-10px);
      -ms-transform:     translateY(-10px);
      transform:         translateY(-10px)
  }
  60% {
      -webkit-transform: translateY(-5px);
      -ms-transform:     translateY(-5px);
      transform:         translateY(-5px)
  }
}

.bounce {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.bounce:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
