.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 6px;
  margin-top: 50px;
}


.formulario {
  max-width: 100px;
  min-width: 200px;
  width: 100%;
}


mat-card {
  max-height: 100px;
  margin: 0 auto;
  background-color: #da8484f3;
}


mat-card-header {
  justify-content: center;
}

.paginador {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.botones-paginador {
  margin-bottom: 5px;
}

mat-spinner {
  margin: 0 auto;
}



