.contenedor {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.contenidoSection {
  margin: 0 auto;
  background-color: white;
  width: 95%;
  padding: 2rem 0 2rem 0;
}

mat-divider {
 margin-bottom: 10px;
}

.botones-paginador {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  margin: 5px 0 5px 0;
}

mat-spinner {
  margin: 0 auto;
}

